<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>       
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <!--指示灯停顿时间 默认：50 单位 毫秒-->
    <add key="SampSleep" value="50"/>
    <!--对码 > 一组闪烁间隔时间 默认：50 单位 毫秒-->
    <add key="CodeSleep" value="50"/>
    <!--清码 > 一组闪烁间隔时间 默认：10 单位 毫秒-->
    <add key="ClearCodeSleep" value="10"/>
  </appSettings>
</configuration>
